{% extends 'layout.html' %}

{% block main %}
<div class="mainLeft">

	<!-- 文章 -->
	{% for content in contents %}
	<div class="listBox">
		<h3>{{content.title}}</h3>
		<p class="colDefualt">
			作者：<span class="colInfo">{{content.author}}</span>
			-时间：<span class="colInfo">{{content.addDate|date('Y年m月d日 H:i:s',-8*60)}}</span>
			-阅读：<span class="colInfo">{{content.views}}</span>
			-评论：<span class="colInfo" >{{content.comments||0}}</span>
		</p>
		<p class="content">{{content.description}}</p>
		<a href="view?contentid={{content.id}}"><button class="btn btn-primary ">查看全文</button></a>
		
	</div>
	{% endfor %}

	<!-- 分页 -->
	<div id="mypager">
		{% include 'page.html' %}			
	</div>
</div>
{% endblock %}